
@{ ViewBag.Title = "About"; }


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Mærke Og Mr.</th>
                <th scope="col">Antal</th>
                <th scope="col">Art</th>
                <th scope="col">Inhold</th>
                <th scope="col">Bruttovægt</th>
                <th scope="col">NettoVægt</th>
                <th scope="col">Volume</th>
                <th scope="col">VolumeKode</th>
                <th scope="col">Temperatur</th>
                <th scope="col">EmballageType</th>
                <th scope="col">Antal af emballage</th>
                <th scope="col">Afhentningsadresse</th>
                <th scope="col">Leveringsadresse</th>
                <th scope="col">Bund pll</th>
                <th scope="col">Bytte emb</th>
                <th scope="col">Bytte emb art</th>
                <th scope="col">Kolli antal</th>
                <th scope="col">Kolli art</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><button type="button">Click Me!</button></td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdoasdsdsdsdsdsdsdsdasdasdasfasdsd</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
            </tr>

        </tbody>
    </table>

<p>Use this area to provide additional information.</p>
